@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-size: 12px;
}
@media (max-width: 1024px) {
body{
      font-size: 16px;
}}
@media (max-width: 1920px) {
body{
    font-size: 20px;
}
  }
.heading{
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32rem;
}
@keyframes flash {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.flashing-text {
  animation: flash 1s infinite;
}