@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-size: 12px;
}
@media (max-width: 1024px) {
body{
      font-size: 16px;
}}
@media (max-width: 1920px) {
body{
    font-size: 20px;
}

}
.heading{
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32rem;
}
@keyframes flash {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.flashing-text {
  animation: flash 1s infinite;
}
.button-primary{
border-radius: 0.25rem;
background: #F5F5F5;
box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
}
.preset > .ant-select-selector{
    border: black 1px solid !important;
    border-radius: 0 !important;
}
.ant-select-selector{
  background-color: #F5F5F5 !important;
  border: none !important;
}
.ant-select-selection-item{
  font-weight: 700 !important;
  font-size: 1rem !important;
}
.ant-select-item{
  font-weight: 700 !important;
  font-size: 1rem !important;

}
.button, [type='button'], [type='reset'], [type='submit'] {
  background: rgba(0, 0, 0, 0.25);
}